
.App{
  text-align: center;
}

.Navbar{
  width: 95%;
  display: flex;
  gap: 30px;
  margin: auto;
}
img{
  width: 140px;
  height: 55px;
  margin-top: 6px;
}
img:hover{
  text-underline-offset: 30px;
  text-decoration: underline;
  cursor: pointer;
}
.p{
  font-size: 17px;
  color: rgb(107 114 128/var(--tw-text-opacity));
}
.p:hover{
  text-underline-offset: 32px;
  text-decoration: underline;
  cursor: pointer;
}

.inputs{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 35%;
  min-height: 200px;
  margin: auto;  
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 5px;
}
.img1{
  width: 240px;
  height: 100px;  
}
input{
  width: 400px;
  height: 35px;
  border: 0.5px solid;
  border-radius: 5px;
}
.label1{
  display: block; 
  margin-left: 25px;
  font-size: 15px;
  font-weight: 500;  
  text-align: start;
}

.df1{
  width: 30%;  
  margin-left: 20px;
   
}
.df{
  width: 60%;
  margin-left: auto;
  display: flex;  
  gap: 5px;
}
.checkbox{
  margin-top: 15px;
}
button{
  background-color: rgb(21, 21, 21);
  color: white;
  min-width: 50px;
  margin-top: 13px;
  border-radius: 5px;
  padding: 5px;
  height: 30px;
  margin-left: 10px;
}
button:hover{
  background-color: rgb(43, 43, 43);
  color: white;
  min-width: 50px;
  margin-top: 13px;
  border-radius: 5px;
  padding: 5px;
  height: 30px;
  margin-left: 10px;
  cursor: pointer;
}

.label {
  display: block;
  padding-left: 15px;
  text-indent: -15px;
}
.inp {
  width: 15px;
  height: 15px;
  padding: 0;
  margin: 0;
  vertical-align: bottom;
  position: relative;
  top: -1px;
}

.aa{
  text-decoration: underline;
  color: rgb(110, 110, 110);
  cursor: pointer;
}