
.App{
  text-align: center;
}

.Navbar{
  width: 95%;
  display: flex;
  gap: 30px;
  margin: auto;
}
img{
  width: 140px;
  height: 55px;
  margin-top: 6px;
}
img:hover{
  text-underline-offset: 30px;
  text-decoration: underline;
  cursor: pointer;
}
.p{
  font-size: 17px;
  color: rgb(107 114 128/var(--tw-text-opacity));
}
.p:hover{
  text-underline-offset: 35px;
  text-decoration: underline;
  cursor: pointer;
}

.inputs{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 35%;
  min-height: 200px;
  margin: auto;  
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 5px;
}
.img1{
  width: 240px;
  height: 100px;  
}
input{
  width: 400px;
  height: 35px;
  border: 0.5px solid;
  border-radius: 5px;
}
.label1{
  display: block; 
  margin-left: 25px;
  font-size: 15px;
  font-weight: 500;  
  text-align: start;
}

.df1{
  width: 30%;  
  margin-left: 20px;
   
}
.df{
  width: 60%;
  margin-left: auto;
  display: flex;  
  gap: 5px;
}
.checkbox{
  margin-top: 15px;
}
.login{
  background-color: rgb(32, 32, 32);
  color: white;
  min-width: 80px;
  margin-top: 13px;
  border-radius: 5px;
  padding: 5px;
  height: 30px;
  margin-left: 3px;  
  
}
.login:hover{
  background-color: rgb(66, 66, 66);
  color: white;
  min-width: 80px;
  margin-top: 13px;
  border-radius: 5px;
  padding: 5px;
  height: 30px;
  margin-left: 3px;
  cursor: pointer;
  border: 2px rgb(183, 183, 183);
}

.label {
  display: block;
  padding-left: 15px;
  text-indent: -15px;
}
.inp {
  width: 15px;
  height: 15px;
  padding: 0;
  margin: 0;
  vertical-align: bottom;
  position: relative;
  top: -1px;
}

.aa{
  text-decoration: underline;
  color: rgb(110, 110, 110);
  cursor: pointer;
}

.Shedule{
  width: 95%;
  justify-content: space-between;
  display: flex;
  padding: 10px;
  margin: auto;
  height: 80px;
}
.divcc{
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
.btnss{
  display: flex;
  gap: 5px;
}

.btns{
  background-color: rgb(32, 32, 32);
  color: white;
  min-width: 80px;
  margin-top: 13px;
  border-radius: 5px;
  padding: 5px;
  height: 30px;
  margin-left: 3px;  
  cursor: pointer;
}

.btns:hover{
  background-color: rgb(66, 66, 66);
  color: white;
  min-width: 80px;
  margin-top: 13px;
  border-radius: 5px;
  padding: 5px;
  height: 30px;
  margin-left: 3px;  
  cursor: pointer;
}

.shedules{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 95%;  
  margin: auto;
  border-radius: 5px;
  margin-top: 50px;
}

.all-lects{ 
  height: 125px;
  padding: 20px;
  display: flex;
  gap: 10px;
  cursor: pointer;  
}
.all-lects:hover{ 
  height: 125px;
  padding: 20px;
  display: flex;
  gap: 10px;
  cursor: pointer;  
  background-color: rgb(255, 255, 255);
}
.lects{
  padding-top: 1px;
  width: 180px;
  height: 100%;
  background-color: rgb(78, 78, 248);
  color: white;
}
.all-lect{ 
  height: 80px;
  padding: 20px;
  display: flex;
  gap: 10px;
  cursor: pointer;  
}
.all-lect:hover{ 
  height: 80px;
  padding: 20px;
  display: flex;
  gap: 10px;
  cursor: pointer;  
  background-color: rgb(255, 255, 255);
}
.lect{
  padding-top: 1px;
  width: 180px;
  height: 100%;
  background-color: rgb(78, 78, 248);
  color: white;
}
.h3{
  color: rgb(78, 78, 241);
  text-align: start;
}
.details{
  margin-left: auto;
  width: 150px;
}

.detls{
  margin-right: auto;
  
}

.ppa{
  margin-left: 75px;
  text-align: right;
}

.dbtns{
background-color: rgb(147, 188, 255);
border-radius: 30px;
color: black;
border: transparent;
height: 20px;
width: 50px;
}
.dbtnss{
  background-color: rgb(150, 244, 171);
  border-radius: 30px;
  width: 50px;
  color: black;
  border: transparent;
  height: 20px;
}

.btnsdiv{
  margin-left: -110px;
}
.btnsdivs{
  margin-left: -180px;
}

.links{    
  color: black;
  text-underline-offset: 35px;
  text-decoration: none;
  cursor: pointer;
}
 .links:focus{
  color: rgb(78, 78, 248);
  text-underline-offset: 35px;
  text-decoration: underline;
  cursor: pointer;
}
.links:hover{
  /* color: black; */
  text-underline-offset: 35px;
  text-decoration: underline;
  cursor: pointer;
}
.dbtnsa{
  background-color: rgb(241, 56, 56);
  width: 65px;
  color: white;
  border: transparent;
  height: 30px;
}
.dbtnsp{
  background-color: rgb(29, 222, 71);
  width: 65px;
  color: white;
  border: transparent;
  height: 30px;
}

.live{
  background-color: rgb(23, 143, 49);
  width: 40px;
  color: white;
  border: transparent;
  height: 20px;
  border-radius: 5px;
}

.Lectures{
  width: 95%;
  margin-left: 30px;
  height: 50px;
  margin-bottom: 50px;
}

.h22{  
  text-align: start;
}
.lecturs{  
  margin: auto;
  width: 95%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.Admin{
  width: 95%;
  margin-left: 30px;
  height: 50px;
  margin-bottom: 50px;
}
.Tickets{
  width: 95%;
  margin-left: 30px;
  height: 50px;
  margin-bottom: 50px;
}
.Electives{
  width: 95%;
  margin-left: 30px;
  height: 50px;
  margin-bottom: 50px;
}
.Notifications{
  width: 95%;
  margin-left: 30px;
  height: 50px;
  margin-bottom: 50px;
}
.Discussions{
  width: 95%;
  margin-left: 30px;
  height: 50px;
  margin-bottom: 50px;
}

.dbtnsn{
  background-color: #b52c2c;
  min-width: 45px;
  color: white;
  border: transparent;
  height: 25px;
}
.dbtnsc{
  background-color: rgb(19, 64, 28);
  min-width: 65px;
  color: white;
  border: transparent;
  height: 25px;
}
.fullstack{
  background-color: rgb(45, 131, 211);
  min-width: 40px;
  color: white;
  border: transparent;
  height: 20px;
  border-radius: 5px;
}

.frontend{
  background-color: rgb(48, 130, 42);
  min-width: 40px;
  color: white;
  border: transparent;
  height: 20px;
  border-radius: 5px;
}

.backend{
  background-color: rgb(162, 192, 63);
  min-width: 40px;
  color: white;
  border: transparent;
  height: 20px;
  border-radius: 5px;
}

.oj{
  background-color: rgb(206, 72, 155);
  min-width: 40px;
  color: white;
  border: transparent;
  height: 20px;
  border-radius: 5px;
}
.dbtnspp{
  background-color: rgb(156, 156, 35);
  min-width: 65px;
  color: white;
  border: transparent;
  height: 25px;
}
.detailss{
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  width: 150px;
}

.Assignments{
  width: 95%;
  margin: auto;
  margin-left: 30px;
  height: 50px;
  margin-bottom: 50px;
}
.Assignmentss{  
  margin: auto;
  width: 95%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.Tickets{
  width: 95%;
  justify-content: space-between;
  display: flex;
  padding: 10px;
  margin: auto;
  height: 80px;
  margin-bottom: 50px;
}
.Electives{
  width: 95%;
  justify-content: space-between;
  display: flex;
  padding: 10px;
  margin: auto;
  height: 80px;
}

.notify{
  width: 95%;
  height: 50px;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.discuss{
  width: 95%;
  height: 120px;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.tickts{
  width: 95%;
  height: 50px;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.adm{
  width: 95%;
  height: 50px;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}